<p id="notice"><%= notice %></p>

<h3><%= @room.title %></h3>
<p> Рейтинг: <%= @room.rating %></p>
<div class="row">
  <% @photos.each do |p| %>
    <div class="col-3">
      <%= image_tag p.photo, class: 'w-100'%>
      <%= link_to 'удалить', photo_path(p), method: :delete %>
    </div>
  <% end %>
</div>
<br>
<%= form_with model: Photo.new do |p| %>
  <%= p.hidden_field :room_id, value: @room.id %>
  <%= p.label :photo, 'фото' %>
  <%= p.text_field :photo %>
  <%= p.submit 'добавить фото' %>
<% end %>

<h4>
  Квартира целиком
  <% if @room.owner_name.present? %>
    , хозяин: <%= @room.owner_name %>
  <% end %>
</h4>
<hr>
<p><%= @room.description %></p>


<br>
<% @reviews.each do |review| %>
  <div class="media-block">
    <span class="media-left mr-3" href="#">
      <%= image_tag review.avatar, class: "img-circle img-sm" %>
    </span>
    <div class="media-body">
      <div class="mar-btm">
        <span href="#" class="btn-link text-semibold media-heading box-inline">
          <%= review.name %>
        </span>
        <p class="text-muted text-sm">
          <i class="fa fa-mobile fa-lg"></i>
          <%= review.created_at %>
        </p>
      </div>
      <p><%= review.text %></p>
      <%= link_to 'удалить отзыв', review_path(review), method: :delete %>
      <br>
      <%= link_to 'редактировать отзыв', edit_review_path(review) %>
    </div>
  </div>
  <hr>
<% end %>

<%= form_with model: @room, url: reviews_path, method: :post do |f| %>
  Отзывы:
  <ul>
    <%= f.fields_for :reviews do |reviews_form| %>
      <li>
        <%= reviews_form.hidden_field :room_id, value: @room.id %> <!-- Скрытая колонка -->

        <%= reviews_form.label :avatar, 'аватар'%>
        <%= reviews_form.text_field :avatar %>

        <%= reviews_form.label :name, 'имя'%>
        <%= reviews_form.text_field :name %>

        <%= reviews_form.label :text, 'текст отзыва' %>
        <%= reviews_form.text_field :text %>
      </li>
    <% end %>
    <br>
    <%= f.submit 'добавить отзыв'%>
  </ul>
<% end %>

<% @options.each do |o|%>
  <h3><%= o.name  %></h3>
  <p><%= o.text  %></p>
  <%= link_to 'удалить опцию', option_path(o), method: :delete %>
  <br>
  <%= link_to 'редактировать опцию', edit_option_path(o) %>
  <hr>
<% end %>

<%= form_with model: @room, url: options_path, method: :post do |f| %>
  <p>Опции</p>
  <%= f.fields_for :options do |o| %>
    <%= o.hidden_field :room_id, value: @room.id %>
    <%= o.label :name, 'характеистика' %>
    <%= o.text_field :name %>
    <%= o.label :text, 'Описание' %>
    <%= o.text_field :text %>
  <% end %>
  <%= f.submit 'добавить функцию' %>
<% end %>





<%= link_to 'Edit/изменить', edit_room_path(@room) %> |
<%= link_to 'Back/назад', rooms_path %>
<%= link_to 'Удалить', room_path(@room), method: :delete %>
